<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="atp-api" packages="">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Logentries>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss ZZZ} %F.%L level:%-5p%m"/>
            <name>logentries</name>
            <token>${logentries.token}</token>
        </Logentries>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="logentries"/>
        </Root>
    </Loggers>
</Configuration>